li {
	list-style: none;
	margin-bottom: 5px;
}
/*Estilo de la lista, para que no se muestren los puntitos y para que haya espacio entre tareas*/

a.eliminar {
	margin-left: 10px;
	text-decoration: none;
	font-size: 1rem;
}
/*Estilo de la cruz que nos permite eliminar las tareas*/

.tachar {
    text-decoration: line-through;
}