body {
	background: #fff;
}

.container {
	/*display: block;*/
	text-align: center;
	width: 400px;
	margin: 100px auto 0;
}

.texto {
	font-family:arial;
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
}

.alinear {
	background-position: center;
}

li {
	list-style: none;
	margin-bottom: 5px;
}
/*Estilo de la lista, para que no se muestren los puntitos y para que haya espacio entre tareas*/

a.eliminar {
	margin-left: 10px;
	text-decoration: none;
	font-size: 1rem;
}
/*Estilo de la cruz que nos permite eliminar las tareas*/

.tachar {
    text-decoration: line-through;
}